# 1.Create a model using random forest classification technique and predict biological flower species using the famous iris flowers dataset (categories/classes - 3)
Dataset: iris flowers dataset

https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

Model: classification

Algorithm:  random forest classification

Language:   python

In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier

# load the dataset

In [2]:
df = pd.read_csv('D:/AIML-L2/Dataset/Iris.csv')
df.head()

   sepallength  sepalwidth  petallength  petalwidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

# Dataset information

In [3]:
# Dataset information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepallength    150 non-null float64
sepalwidth     150 non-null float64
petallength    150 non-null float64
petalwidth     150 non-null float64
Class          150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
df.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [5]:
df.isnull().sum()

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
Class          0
dtype: int64

In [6]:
df.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'Class'], dtype='object')

In [7]:
df.head(5)

   sepallength  sepalwidth  petallength  petalwidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

# Convert the required columns value into int datatypes

In [8]:
# Class column having string value need to convert it int

df['Class'].replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica' ], [1,2,3], inplace=True)

In [9]:
df.head(5)

   sepallength  sepalwidth  petallength  petalwidth  Class
0          5.1         3.5          1.4         0.2      1
1          4.9         3.0          1.4         0.2      1
2          4.7         3.2          1.3         0.2      1
3          4.6         3.1          1.5         0.2      1
4          5.0         3.6          1.4         0.2      1

# Select the Feature variale and Target var

In [10]:
# Feature variable
X = df.drop(['Class'], axis = 1)
X.head(10)

   sepallength  sepalwidth  petallength  petalwidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2
8          4.4         2.9          1.4         0.2
9          4.9         3.1          1.5         0.1

In [11]:
# Traget variable is Class
y = df['Class']
y.head(8)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: Class, dtype: int64

In [12]:
# now we can split the data into train and test dataset

from sklearn.model_selection import train_test_split

# Split the data 80% is train and 20% is Test

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
X_train

     sepallength  sepalwidth  petallength  petalwidth
137          6.4         3.1          5.5         1.8
84           5.4         3.0          4.5         1.5
27           5.2         3.5          1.5         0.2
127          6.1         3.0          4.9         1.8
132          6.4         2.8          5.6         2.2
59           5.2         2.7          3.9         1.4
18           5.7         3.8          1.7         0.3
83           6.0         2.7          5.1         1.6
61           5.9         3.0          4.2         1.5
92           5.8         2.6          4.0         1.2
112          6.8         3.0          5.5         2.1
2            4.7         3.2          1.3         0.2
141          6.9         3.1          5.1         2.3
43           5.0         3.5          1.6         0.6
10           5.4         3.7          1.5         0.2
60           5.0         2.0          3.5         1.0
116          6.5         3.0          5.5         1.8
144          6.7         3.3          5.7         2.5
119          6.0         2.2          5.0         1.5
108          6.7         2.5          5.8         1.8
69           5.6         2.5          3.9         1.1
135          7.7         3.0          6.1         2.3
56           6.3         3.3          4.7         1.6
80           5.5         2.4          3.8         1.1
123          6.3         2.7          4.9         1.8
133          6.3         2.8          5.1         1.5
106          4.9         2.5          4.5         1.7
146          6.3         2.5          5.0         1.9
50           7.0         3.2          4.7         1.4
147          6.5         3.0          5.2         2.0
..           ...         ...          ...         ...
14           5.8         4.0          1.2         0.2
122          7.7         2.8          6.7         2.0
19           5.1         3.8          1.5         0.3
29           4.7         3.2          1.6         0.2
130          7.4         2.8          6.1         1.9
49           5.0         3.3          1.4         0.2
136          6.3         3.4          5.6         2.4
99           5.7         2.8          4.1         1.3
82           5.8         2.7          3.9         1.2
79           5.7         2.6          3.5         1.0
115          6.4         3.2          5.3         2.3
145          6.7         3.0          5.2         2.3
72           6.3         2.5          4.9         1.5
77           6.7         3.0          5.0         1.7
25           5.0         3.0          1.6         0.2
81           5.5         2.4          3.7         1.0
140          6.7         3.1          5.6         2.4
142          5.8         2.7          5.1         1.9
39           5.1         3.4          1.5         0.2
58           6.6         2.9          4.6         1.3
88           5.6         3.0          4.1         1.3
70           5.9         3.2          4.8         1.8
87           6.3         2.3          4.4         1.3
36           5.5         3.5          1.3         0.2
21           5.1         3.7          1.5         0.4
9            4.9         3.1          1.5         0.1
103          6.3         2.9          5.6         1.8
67           5.8         2.7          4.1         1.0
117          7.7         3.8          6.7         2.2
47           4.6         3.2          1.4         0.2

[120 rows x 4 columns]

In [15]:
X_test

     sepallength  sepalwidth  petallength  petalwidth
114          5.8         2.8          5.1         2.4
62           6.0         2.2          4.0         1.0
33           5.5         4.2          1.4         0.2
107          7.3         2.9          6.3         1.8
7            5.0         3.4          1.5         0.2
100          6.3         3.3          6.0         2.5
40           5.0         3.5          1.3         0.3
86           6.7         3.1          4.7         1.5
76           6.8         2.8          4.8         1.4
71           6.1         2.8          4.0         1.3
134          6.1         2.6          5.6         1.4
51           6.4         3.2          4.5         1.5
73           6.1         2.8          4.7         1.2
54           6.5         2.8          4.6         1.5
63           6.1         2.9          4.7         1.4
37           4.9         3.1          1.5         0.1
78           6.0         2.9          4.5         1.5
90           5.5         2.6          4.4         1.2
45           4.8         3.0          1.4         0.3
16           5.4         3.9          1.3         0.4
121          5.6         2.8          4.9         2.0
66           5.6         3.0          4.5         1.5
24           4.8         3.4          1.9         0.2
8            4.4         2.9          1.4         0.2
126          6.2         2.8          4.8         1.8
22           4.6         3.6          1.0         0.2
44           5.1         3.8          1.9         0.4
97           6.2         2.9          4.3         1.3
93           5.0         2.3          3.3         1.0
26           5.0         3.4          1.6         0.4

In [16]:
y_train

137    3
84     2
27     1
127    3
132    3
59     2
18     1
83     2
61     2
92     2
112    3
2      1
141    3
43     1
10     1
60     2
116    3
144    3
119    3
108    3
69     2
135    3
56     2
80     2
123    3
133    3
106    3
146    3
50     2
147    3
      ..
14     1
122    3
19     1
29     1
130    3
49     1
136    3
99     2
82     2
79     2
115    3
145    3
72     2
77     2
25     1
81     2
140    3
142    3
39     1
58     2
88     2
70     2
87     2
36     1
21     1
9      1
103    3
67     2
117    3
47     1
Name: Class, Length: 120, dtype: int64

In [17]:
y_test

114    3
62     2
33     1
107    3
7      1
100    3
40     1
86     2
76     2
71     2
134    3
51     2
73     2
54     2
63     2
37     1
78     2
90     2
45     1
16     1
121    3
66     2
24     1
8      1
126    3
22     1
44     1
97     2
93     2
26     1
Name: Class, dtype: int64

In [18]:
# check the dataset shape
X_train.shape

(120, 4)

In [19]:
y_train.shape

(120,)

In [20]:
X_test.shape

(30, 4)

In [21]:
y_test.shape

(30,)

# Now we can create the  RandomForestClassifier Module

In [22]:
rfc = RandomForestClassifier(n_estimators= 1000, random_state=1)

accuracies = {}

In [23]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [24]:
# acc = rfc.score(X_test, y_test) *100
acc = rfc.score(X_test, y_test) 
acc

1.0

In [25]:
accuracies['Random Forest'] = acc

print('random forest classifier accuracy: {:.2f}%'.format(acc))

random forest classifier accuracy: 1.00%